* {
  box-sizing: border-box;
  }
  
  body {
    background-color: rgb(240, 245, 244);
    padding: 20px;
    font-family: Arial;
    text-align: center;
  }
  
  /* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.button {
  border-radius: 4px;
  background-color: #2196F3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 150px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgb(72, 143, 40);
    color: white;
  }
  
  .flip-card-back {
    background-color: #2196F3;
    color: white;
    transform: rotateY(180deg);
  }

  /* Center website */
  .main {
    max-width: 100%;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    /* background-color: white; */
    padding: 10px;
  }
  
  a {
    color: white;
  }

  a:hover {
    color: rgb(231, 229, 101);
  }
  
  input[type='checkbox']{
    display:none;
  }
  
  #btn {
    padding:50px 100px;
    font-size: 48px;
    background: tomato;
    color:#fff;
    position: absolute;
    left: 50%;
    top: 50%;
    border: none;
    border-radius: 5px;
    text-align: center;
    transform:translate(-50%,-50%);
  }

  #btn:hover {
      background-color: #ff9800;
  }

  #cnt {
    font-size: 48px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #2196F3;
    color:#fff;
    top: 0;
    left: 0;
    display:flex;
    align-items:center;
    justify-content: center;
    pointer-events:none;
    display:none;
  }
  
  .close {
    color:#fff;
    position: fixed;
    top: 20px;
    right: 20px;
    display:none;
    cursor:pointer;
  }
  
  input:checked + div + #cnt {
    display:flex;
  }
  
  input:checked + div + #cnt + .close {
    display:block;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }