@font-face {
    font-family: "APhont";
    src: url("fontes/aphont/APHont-Regular_q15c.ttf") format("truetype");
    font-display: swap;
}

body {
    font-family: "APhont", sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 80%;
    max-width: 800px;
}

.question {
    margin-bottom: 20px;
    text-align: center;
}

.answer-container {
    display: flex;
    flex-direction: column;
}

.collapsible {
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: background-color 0.3s;
}

.collapsible:hover {
    background-color: #e0e0e0;
}

.collapsible.selected {
    background-color: #e0e0e0;
}

.collapsible.correct {
    background-color: #90ee90;
}

.collapsible.incorrect {
    background-color: #f08080;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.content.show {
    max-height: 200px;
    margin-bottom: 10px;
    /* Define a altura máxima da resposta */
}

.correct-message,
.dont-remember-message {
    color: green;
}

.incorrect-message {
    color: red;
}

.btn {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

precode {
    font-family: "APhont", sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}