@font-face {
    font-family: "APhont";
    src: url("../css/fontes/aphont/APHont-Regular_q15c.ttf") format("truetype");
    font-display: swap;
}

body {
    font-family: "APhont", sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 80%;
    max-width: 800px;
}

h1,
h2,
h3,
p {
    text-align: center;
}

/* Código do acordeon */

.accordion {
    background-color: DodgerBlue;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    /* opacity: 0.6; */
    transition: 0.3s;
    border-radius: 4px;
}

.active,
.accordion:hover {
    background-color: orange;
}

.accordion:after {
    content: '\002B';
    color: green;
    font-weight: bold;
    float: center;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    color: green;
}

.panel {
    width: auto;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 0 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: green;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para o contêiner que envolve os textos */
.toggle-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/* Escondendo a tradução por padrão */
.alt-text {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Mostrando a tradução quando o checkbox estiver marcado */
.toggle:checked ~ .alt-text {
    display: inline;
}

/* Escondendo o texto original quando o checkbox estiver marcado */
.toggle:checked ~ .original-text {
    visibility: hidden;
}

/* Escondendo o checkbox para que ele não apareça na tela */
.toggle {
    display: none;
}

/* SVG */
.img-container {
    text-align: center;
}

.responsive-svg {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .responsive-svg {
        width: 90%; /* Ajusta a largura da imagem SVG para ocupar 90% da tela em dispositivos móveis */
    }
}

/* Responsividade para celulares */
@media only screen and (max-width: 600px) {
    .toggle-container {
        display: block;
        margin-bottom: 10px;
    }
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

